.mainHeader {
	padding: 0;
	background-image: url("src/assets/img/winter.jpg");
	background-size: cover;
	height: 500px;
	color: white;
	text-align: center;
}

/* .mainHeader h1 {
	margin-top: 20px;
} */

